@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
* {
	box-sizing: border-box;
	font-family: Cambria, Georgia, serif;
	list-style: none;
	padding:0;
	margin:0;
}

a { text-decoration:none; }

body {

	background:#fbf366;
}

h1 {

	text-align:center;
	margin:60px 0px;
	font-size:40px;
}

div.container {
	width:100%;
	position: relative;
}

section.main {
	width:960px;
	margin: 0 auto;
	position: relative;
}

ul.dessert {
	margin: 20px 0 0 0;
	text-align: center;
	width: 100%;
}

ul.dessert li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 20px;
}

div.friends {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 rgba(15,145,87, 0.4), inset 0 0 0 16px rgba(255,255,255,0.3), 0 2px 5px rgba(0,0,0,0.5);
	transition: all 0.4s ease-in-out;
}

div.friends:hover {
	box-shadow: inset 0 0 0 100px rgba(15,145,87, 0.4), inset 0 0 0 16px rgba(255,255,255,0.8),	0 1px 2px rgba(0,0,0,0.1);
}

div.friend-1 { background-image: url(/demo/demo2/image_1.jpg); }
div.friend-2 { background-image: url(/demo/demo2/image_2.jpg); }
div.friend-3 { background-image: url(/demo/demo2/image_3.jpg); }
div.friend-4 { background-image: url(/demo/demo2/image_4.jpg); }
div.friend-5 { background-image: url(/demo/demo2/image_5.jpg); }
div.friend-6 { background-image: url(/demo/demo2/image_6.jpg); }

div.info {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	border-radius:50%;
}

div.info h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 22px;
	margin:30px 30px 20px;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.5);
}

div.info p {
	color: #fff;
	padding: 10px 5px;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	font-family: 'Nanum Gothic Coding', serif;
	line-height: 15px;
}

div.info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
}

div.friends:hover div.info {
	opacity: 1;
	transform: scale(1);
}

div.info p a:hover {
	color: rgba(255,242,34, 0.8);
}
