<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
	<title>Portfolio</title>
</head>
<body>
<div id="index-wrap" data-ng-controller="MainCtrl">
	<div ui-view></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="http://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="controllers/app.main.controller.js"></script>
<script type="text/javascript" src="controllers/app.child.controller.js"></script>
</body>
</html>