<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	  <title>Portfolio</title>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <link rel="stylesheet" href="assets/stylesheets/main.css"/>
    <link rel="stylesheet" href="assets/stylesheets/pages/home.css"/>
    <link rel="stylesheet" href="assets/stylesheets/pages/profile.css"/>
    <link rel="stylesheet" href="assets/stylesheets/pages/resume.css"/>
    <link rel="stylesheet" href="assets/stylesheets/pages/sample.css"/>
</head>
<body>
<div id="index-wrap" data-ng-controller="MainCtrl">
  <div class="mainNav">
    <p class="menuOnOff" data-ng-click="vm.some_function()">MENU</p>
  </div>
  <div class="menuOff" data-ng-class="{'menuOn': vm.some_check_value}">
    <ul>
      <li><span data-ng-click="vm.goProfile(true)">자기소개</span></li>
      <li><span data-ng-click="vm.goResume(true)">이력서</span></li>
      <li><span data-ng-click="vm.goSample(true)">연습작</span></li>
    </ul>
  </div>
  <div class="sg-home">
      <button class="homeBtn"
         data-ng-click="vm.goHome()">
          HOME
      </button>
  </div>
	<div ui-view class="mainView"></div>
  <div class="myGit">
      <a href="https://github.com/ljs890805/" target="_blank">MYGIT</a>
  </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="http://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="lib/angular-resource/angular-resource.min.js"></script>

<script type="text/javascript" src="app.module.js"></script>
<script type="text/javascript" src="config/app.config.js"></script>
<script type="text/javascript" src="config/app.route.js"></script>
<script type="text/javascript" src="controllers/app.main.controller.js"></script>
<script type="text/javascript" src="controllers/app.home.controller.js"></script>
<script type="text/javascript" src="controllers/app.profile.controller.js"></script>
<script type="text/javascript" src="controllers/app.resume.controller.js"></script>
<script type="text/javascript" src="controllers/app.sample.controller.js"></script>
<script type="text/javascript" src="services/app.navigator.js"></script>
<script type="text/javascript" src="services/app.constants.js"></script>
<script type="text/javascript" src="services/app.login-history.model.js"></script>
<script type="text/javascript" src="services/app.login-history.manager.js"></script>
<script type="text/javascript" src="services/app.test.model.js"></script>
<script type="text/javascript" src="services/app.test.manager.js"></script>
<script type="text/javascript" src="services/iSlider.js"></script>
<script type="text/javascript" src="services/iSlider.animate.js"></script>
</body>
</html>
