<div id="home-wrap" data-ng-controller="HomeCtrl">
  <div id="iSlider-wrapper"></div>
  <script id="show-code">
      var list = [

          {
              content: (function () {
                  var homeProfile = document.createDocumentFragment();
                  var dom = document.createElement('div');
                  dom.innerHTML = 'Profile';
                  dom.setAttribute("data-ng-click", "vm.goProfile()");
                  dom.style.cssText = 'font-size:3em; color:rgb(230, 63, 230);';
                  homeProfile.appendChild(dom);
                  return homeProfile;
              })()
          },
          {
              content: (function () {
                  var frag = document.createDocumentFragment();
                  var dom = document.createElement('div');
                  dom.innerHTML = 'Resume';
                  dom.setAttribute("data-ng-click", "vm.goResume()");
                  dom.style.cssText = 'font-size:3em; color:rgb(230, 63, 230);';
                  frag.appendChild(dom);
                  return frag;
              })()
          },
          {
              content: (function () {
                  var frag = document.createDocumentFragment();
                  var dom = document.createElement('div');
                  dom.innerHTML = 'Sample';
                  dom.setAttribute("data-ng-click", "vm.goSample()");
                  dom.style.cssText = 'font-size:3em; color:rgb(230, 63, 230);';
                  frag.appendChild(dom);
                  return frag;
              })()
          }
      ];

      var S = new iSlider({
          dom: document.getElementById('iSlider-wrapper'),
          data: list,
          isAutoplay: true,
          isLooping: true,
          isOverspread: true,
          animateTime: 800,
          isVertical: true
      });
  </script>
</div>
