<div id="home-wrap" data-ng-controller="HomeCtrl">
  <div id="iSlider-wrapper"></div>
  <script id="show-code">
      var list = [

          // fragment
          {
              content: (function () {
                  var frag = document.createDocumentFragment();
                  var img = new Image()
                  var dom = document.createElement('div');
                  dom.innerHTML = 'Fragment';
                  dom.style.cssText = 'font-size:3em;color:rgb(230, 63, 230);';
                  frag.appendChild(dom);
                  return frag;
              })()
          },
          {
              content: (function () {
                  var frag = document.createDocumentFragment();
                  var img = new Image()
                  var dom = document.createElement('div');
                  dom.innerHTML = 'Fragment';
                  dom.style.cssText = 'font-size:3em;color:rgb(230, 63, 230);';
                  frag.appendChild(dom);
                  return frag;
              })()
          },
          {
              content: (function () {
                  var frag = document.createDocumentFragment();
                  var img = new Image()
                  var dom = document.createElement('div');
                  dom.innerHTML = 'Fragment';
                  dom.style.cssText = 'font-size:3em;color:rgb(230, 63, 230);';
                  frag.appendChild(dom);
                  return frag;
              })()
          }
      ];

      var S = new iSlider({
          dom: document.getElementById('iSlider-wrapper'),
          data: list,
          isAutoplay: 1,
          isLooping: 1,
          isOverspread: 1,
          animateTime: 800,
          isVertical: true
      });
  </script>
</div>
