<div id="sample_wrap" data-ng-controller="SampleCtrl">
  <div class="demo-menu">
    <button data-ng-click="vm.demo1_function()">Animation1</button>
    <button data-ng-click="vm.demo2_function()">Transform</button>
    <button data-ng-click="vm.demo3_function()">Responsive Web</button>
    <button data-ng-click="vm.demo4_function()">Animation2</button>
  </div>
  <div class="demo-view" ng-switch="" on="vm.demo_check_value">
    <div class="demo1-view" ng-switch-when="1">
      <a href="/demo/demo1/demo1.html" target="_blank"></a>
    </div>
    <div class="demo2-view" ng-switch-when="2">
      <a href="/demo/demo2/demo2.html" target="_blank"></a>
    </div>
    <div class="demo3-view" ng-switch-when="3">
      <a href="/demo/demo3/demo3.html" target="_blank"></a>
    </div>
    <div class="demo4-view" ng-switch-when="4">
      <a href="/demo/demo4/demo4.html" target="_blank"></a>
    </div>
  </div>
</div>
