
body{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  height: 100%;
  font-family: NanumGothic, 'Malgun Gothic', dotum, '돋움', sans-serif;
}

#page1{
  background-color: #f15d58;
}
#page2{
  background-color: #dcddcd;
}
#page3{
  background-color: #a68f58;
}
#page4{
  background-color: #414042;
}
img{
  width: 100%;
  height: auto;
}

.parallax {
  height: 3600px;
}

.parallax_group {
  width: 100%;
  position: relative;
  height: 700px;
  z-index: 1;
}

.parallax_layer {
  position: absolute;
  margin: 0 auto;
}

.parallax_base {
  z-index: 2;
}

.parallax_1{
  width: 960px;
  top: 50px;
  margin: 0 auto;
  transform: translateY(100px) scale(10px);
  z-index: 3;
}

.parallax_2{
  width: 960px;
  top: 200px;
  margin: 0 auto;
  z-index: 4;
}
