<div id="home-wrap" data-ng-controller="HomeCtrl">
    <div sample-sample sample-attribute="5"></div>
    <button type="button" data-ng-click="vm.goSample()">
        SAMPLE
    </button>
    <input type="text" data-ng-model="vm.testInput" placeholder="{{ vm.placeholder }}">
    <p>{{ vm.testInput }}</p>
    <ul>
        <li data-ng-repeat="item in vm.products" data-ng-click="vm.selectProduct(item)">
            <div class="product-wrap">
                <p>item.name</p>
                <p>item.price</p>
                <p>item.amount</p>
            </div>
        </li>
    </ul>
</div>